services:
    Keyboardman\FilemanagerBundle\Controller\FilemanagerController:
        arguments:
            $twig: '@twig'
            $availableFilesystems: '%keyboardman_filemanager.available_filesystems%'
        tags: ['controller.service_arguments']

    Keyboardman\FilemanagerBundle\Service\FilemanagerUrlResolver:
        arguments:
            $urlRoute: '%keyboardman_filemanager.url_route%'
            $urlGenerator: '@router'
            $urlReferenceType: !php/const Symfony\Component\Routing\Generator\UrlGeneratorInterface::ABSOLUTE_URL

    Keyboardman\FilemanagerBundle\Controller\ResolveUrlController:
        arguments:
            $resolver: '@Keyboardman\FilemanagerBundle\Service\FilemanagerUrlResolver'
        tags: ['controller.service_arguments']

    Keyboardman\FilemanagerBundle\Twig\FilemanagerUrlTwigExtension:
        arguments:
            $resolver: '@Keyboardman\FilemanagerBundle\Service\FilemanagerUrlResolver'
        tags: ['twig.extension']
