# Adaptateur Flysystem S3 (MinIO) pour la démo.
# Définir MINIO_ENDPOINT, MINIO_ACCESS_KEY, MINIO_SECRET_KEY, MINIO_BUCKET pour utiliser S3.
# En Docker, ces variables sont définies dans docker-compose.yml.
parameters:
  env(MINIO_ENDPOINT): ''
  env(MINIO_REGION): 'us-east-1'
  env(MINIO_ACCESS_KEY): ''
  env(MINIO_SECRET_KEY): ''
  env(MINIO_BUCKET): 'filemanager-demo'

services:
  App\Service\S3ClientFactory: ~

  app.s3_client:
    class: Aws\S3\S3Client
    factory: ['@App\Service\S3ClientFactory', '__invoke']
    arguments:
      - '%env(MINIO_ENDPOINT)%'
      - '%env(MINIO_REGION)%'
      - '%env(MINIO_ACCESS_KEY)%'
      - '%env(MINIO_SECRET_KEY)%'
      - '%env(MINIO_BUCKET)%'

  app.flysystem_adapter.s3:
    class: League\Flysystem\AwsS3V3\AwsS3V3Adapter
    arguments:
      - '@app.s3_client'
      - '%env(MINIO_BUCKET)%'
      - ''
    # Ne créer l'adaptateur que si le client S3 existe (MINIO_ENDPOINT défini)
    # Si MINIO_ENDPOINT est vide, app.s3_client sera null et cette définition échouera
    # Dans ce cas, le filesystem s3 ne sera pas disponible (comportement attendu)

keyboardman_filesystem:
  filesystems:
    s3:
      adapter: app.flysystem_adapter.s3
